.cart-popup {
  position: fixed; /* para que siga al hacer scroll */
  top: 80px;       /* distancia desde la parte superior */
  right: 90px;     /* alineado a la derecha */
  width: 360px;
  background-color: #ffffff; /* fondo blanco */
  border-radius: 12px;
box-shadow: 0 6px 20px rgba(150, 75, 0, 0.25);
  padding: 15px;
  z-index: 1000;
  font-family: 'Segoe UI', sans-serif;
}

/* Triangulito apuntando al carrito */
.cart-popup::before {
  content: "";
  position: absolute;
  top: -10px;   /* encima del popup */
  right: 40px;  /* ajusta según posición del icono */
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

.cart-popup-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #a0522d;
  font-size: 16px;
  cursor: pointer;
}

h2 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #a0522d;
}

.cart-items {
  max-height: 250px;
  overflow-y: auto;
  margin: 10px 0;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 8px 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid #e0dcd5;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.cart-item-info {
  flex: 1;
  margin-left: 10px;
}

.cart-item-info h4,
.cart-item-info p {
  margin: 2px 0;
  color: #333;
}

.cart-quantity {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 5px;
}

.cart-quantity button {
  background-color: #ffffff;
  color: #5c4033;
  border: 1px solid #a0522d;
  border-radius: 6px;
  width: 28px;
  height: 28px;

}
/* Botones del contador */
.cart-quantity button {
  background-color: #ffffff;
  color: #a0522d; /* Marrón */
  border: 1px solid #a0522d;
  border-radius: 6px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  font-weight: bold;
}

.cart-quantity button:hover {
  background-color: #a0522d;
  color: #ffffff;
}

/* Botón eliminar */
.remove-btn {
  background-color: #a0522d; /* Marrón */
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1px;
}

.remove-btn:hover {
  background-color: #a0522d; /* Marrón más claro al pasar el mouse */
}

/* Botón Finalizar compra */
.checkout-btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #a0522d; /* Marrón */
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.checkout-btn:hover {
  background-color: #a0522d; /* Marrón más claro al pasar el mouse */
}

.cart-items-wrapper {
  max-height: 320px;
  overflow-y: auto;
  margin-top: 10px;
}
