*{
    background-color: #F5E6D3;
}
.nota{
  width: 300px;
  padding: 10px;
  margin: 10px;
  
}
footer img{
    width: 2vw;
    color: #A0522D;
}
header img{
    width: 5vw;
}
header h1{
    width: fit-content;
}
#logoynombre{
    display: flex;
    justify-content: space-between;
}
h1{
    color: #A0522D;
}
h2{
    color: #A0522D;
}
h3{
    color: #A0522D;
}
p{
    color: #C47A6D;
}