*{
    background-color: #F5E6D3;
}
.nota{
  padding: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;}
footer img{
    width: 2vw;
}
header img{
    width: 5vw;
}
header h1{
    width: fit-content;
}
h1, h2, h3, p{
    color: #A0522D;
    text-align: center;
}
.nota p{
    width: 50%;
}
h1, h2, h3{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
  font-style: normal;
  margin-bottom: 0.1em;
}
p{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}
a{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    margin-bottom: 0.08em;
}
