/* Nosotros.css con prefijo nosotros- */
.nosotros * {
    background-color: #F5E6D3;
}


.nosotros-nota{
  padding: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nosotros-footer img{
    width: 2vw;
}

.nosotros-header img{
    width: 5vw;
}

.nosotros-header h1{
    width: fit-content;
}

.nosotros-h1, .nosotros-h2, .nosotros-h3, .nosotros-p {
    color: #A0522D;
    text-align: center;
}

.nosotros-nota p{
    width: 50%;
}

.nosotros-h1, .nosotros-h2, .nosotros-h3{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.1em;
}

.nosotros-p{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
}

.nosotros-a{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    margin-bottom: 0.08em;
}
